@font-face {
  font-family: 'armalite';
  src: url('/font/armalite.ttf');
}

@font-face {
  font-family: 'BlackOpsOne-Regular';
  src: url('/font/BlackOpsOne-Regular.ttf');
}

@font-face {
  font-family: 'CamouflageD';
  src: url('/font/CamouflageD.ttf');
}

@font-face {
  font-family: 'CamouflageW';
  src: url('/font/CamouflageW.ttf');
}

@font-face {
  font-family: 'octin-vintage-b-rg';
  src: url('/font/octin-vintage-b-rg.otf') format("opentype");
}

@font-face {
  font-family: 'sector-017';
  src: url('/font/sector-017.ttf');
}

table.map-creator-grid {
  border-spacing: 0;
  border-collapse: collapse;
  font-weight: bold;
  text-align: center;
  table-layout: fixed;
  width: 100%;
  position: absolute;
  top: 0px;
  pointer-events: none;
}

table.map-creator-grid th, table.map-creator-grid td {
  overflow: hidden;
  box-sizing: content-box;
}

.map-creator-from-map-load-map-info-form {
  margin-bottom: 15px;
}

.map-creator-map-creator-controls .ol-geocoder.gcd-txt-container {
  left: initial;
  position: initial;
  top: initial;
  height: initial;
}

.map-creator-map-creator-controls .ol-geocoder ul.gcd-txt-result {
  left: initial;
  position: initial;
  top: initial;
}
